@using EntityIntro.Models
@model Victim
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>All The Vampirs</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Victims</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Vampire vamp in ViewBag.AllVampires)
                {
                    <tr>
                        <td>@vamp.VampireId</td>
                        <td><a href="/vampire/@vamp.VampireId">@vamp.Name</a></td>
                        <td>@vamp.Birthday</td>
                        <td>@vamp.Victims.Count</td>
                    </tr>
                }
            </tbody>
        </table>
        <h2>Add a Victim</h2>
        <form asp-action="CreateVictim" asp-controller="Home" method="post">
            <div class="form-group row">
                <label class="col-sm-4">Name: </label>
                <input asp-for="Name" class="col-sm-8 form-control">
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Vampire: </label>
                <select asp-for="VampireId">
                    @foreach(Vampire vamp in ViewBag.AllVampires)
                    {
                        <option value="@vamp.VampireId">@vamp.Name</option>
                    }
                </select>
            </div>
            <div class="form-group row">
                <input type="submit" value="Add Victim" class="col-sm-4 offset-sm-4 btn btn-primary">
            </div>
        </form>
        @* <h2>These Vampires Do Almost All of the Killing</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Victims</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Vampire vamp in Model.Where(v => v.Victims > 100))
                {
                    <tr>
                        <td>@vamp.VampireId</td>
                        <td>@vamp.Name</td>
                        <td>@vamp.Birthday</td>
                        <td>@vamp.Victims</td>
                    </tr>
                }
            </tbody>
        </table> *@
    </div>
</body>
</html>